main::after {
  background-image: url(assets/images/breast-feeding-bg.jpg);
}

.login-action {
  margin-bottom: 200px;
}

@media only screen and (max-width: 768px) {
  .login-action button {
    width: 60%;
  }
}
